<template>
  <div class="about">
    <h1>избранное</h1>
    <button @click="clearFavorites">Очистить список избранных</button>
    <ul>
      <li v-for="(joke, index) in favoriteJokes" :key="joke.id">
        <div class="joke">{{ joke.value }}</div>
        <button @click="removeJoke(index)">Удалить</button>
      </li>
    </ul>
  </div>
</template>

<script lang="ts" setup>import { IJoke } from '@/types';
import { onMounted, ref } from 'vue';

const favoriteJokes = ref<IJoke[]>([])
  const removeJoke = (index: number) => {
      favoriteJokes.value.splice(index, 1)
      localStorage.setItem('favorites', JSON.stringify(favoriteJokes.value))
    }

    const clearFavorites = () => {
      favoriteJokes.value = []
      localStorage.removeItem('favorites')
    }

    onMounted(() => {
      const storedJokes = localStorage.getItem('favorites')
      if (storedJokes) {
        favoriteJokes.value = JSON.parse(storedJokes)
      }
    })
</script>
<style scoped>
h1 {
  text-align: center;
  font-size: 36px;
}
li {
  padding: 20px;
  border-radius: 10px;
  border: 1px solid rgb(0, 238, 255);
  background-color: bisque;
  margin-bottom: 20px;
  list-style: none;
}
.joke {
  text-align: center;
  margin-bottom: 10px;
}
button {
    display: flex;
    margin: 0 auto;
    border: 1px solid transparent;
    outline: none;
    padding: 15px 25px;
    background: #f2d243;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}
</style>