<template>
  <div>
    <h1> Шутки от ЧАКА</h1>
    <div class="btns">
      <button @click="getJoke">Get joke</button>
      <button v-if="!intervalId" @click="startInterval">Start Interval</button>
      <button v-if="intervalId" @click="stopInterval">Stop Interval</button>
    </div>
    <ul>
      <li v-for="joke in jokes" :key="joke.id" class="joke">
        <div class="wrapper">
          <a :href="joke.url" target="_blank">перейти</a>
          <button @click="addToFavorites(joke)">избранные</button>
        </div>
      <p>{{ joke.value }}</p></li>
    </ul>
  </div>
</template>

<script lang="ts" setup>import { IJoke } from '@/types';
import {  ref } from 'vue';

const jokes =ref<IJoke[]>([])
const favoritesStatus = ref()
const intervalId = ref()
const favorites = ref(JSON.parse(localStorage.getItem('favorites') || '[]')) 
const  getJoke = async () => {
      const response = await fetch('https://api.chucknorris.io/jokes/random')
      const data = await response.json()
      jokes.value.push(data as IJoke)
    }

const startInterval = () => {
      intervalId.value = setInterval(getJoke, 3000)
    }

const stopInterval = () => {
      clearInterval(intervalId.value)
      intervalId.value = null
    }
const addToFavorites = (joke: IJoke) => {
  let storedJokes = localStorage.getItem('favorites')
  const res = JSON.parse(storedJokes as any)
  const index = favorites.value.findIndex((item : IJoke) => item.id === joke.id)
  if (index === -1) {
    if (favorites.value.length < 10) {
      favorites.value.push(joke)
      localStorage.setItem('favorites', JSON.stringify(favorites.value))
    } else {
      res.shift()
      res.push(joke)
      localStorage.setItem('favorites', JSON.stringify(res))
    }
  } else {
    favorites.value.splice(index, 1)
    localStorage.setItem('favorites', JSON.stringify(favorites.value))
  }
}

</script>
<style scoped>
h1 {
  text-align: center;
  font-size: 36px;
}
.joke {
  text-align: center;
  margin-bottom: 10px;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid rgb(0, 238, 255);
  background-color: bisque;
  margin-bottom: 20px;
  list-style: none;
}
button {
    border: 1px solid transparent;
    outline: none;
    padding: 15px 25px;
    background: #f2d243;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
}
.wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
a {
  text-decoration: none;
  border: 1px solid transparent;
  outline: none;
  padding: 15px 25px;
  background: #f2d243;
  color: black;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
}
.btns {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
p {
  font-size: 25px;
}
</style>