<template>
  <div>
    <div class="links">
        <router-link to="/">шутки от ЧАКА</router-link> 
        <router-link to="/about">избранные шутки</router-link>
    </div>
    <router-view></router-view>
  </div>
</template>

<script>
export default {
}
</script>
<style scoped>
.links {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}
a {
  text-decoration: none;
  border: 1px solid transparent;
  outline: none;
  padding: 15px 25px;
  background: #f2d243;
  color: black;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
}
</style>
